<h1>My Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
  <%= booking.id %>
    <%= render booking %>
    <p>
      <%= link_to "Show this booking", booking %>
    </p>
  <% end %>
</div>

<div>
<%= link_to "Edit Booking", "#", class: "btn btn-gradient" %>
</div>
